# SQL CARTO QUERY FUNCTION
# written for PUI2016_Python2
# Modified by Julián Ferreiro (NetID: jif245)

In [1]:
SQL_SOURCE = 'https://jif245.carto.com/api/v2/sql?q='

import urllib2
import urllib
import StringIO
import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError, e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

In [2]:
test = '''
SELECT *
FROM citibike
Limit 5
'''

In [3]:
pd.read_csv(StringIO.StringIO(queryCartoDB(test)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,5960,NaN,NaN,351,2015-02-01 20:36:00+00,2015-02-01 20:42:00+00,435,W 21 St & 6 Ave,40.741740,-73.994156,462,W 22 St & 10 Ave,40.746920,-74.004519,19217,Subscriber,1965,1
1,9806,NaN,NaN,643,2015-02-03 14:39:00+00,2015-02-03 14:50:00+00,167,E 39 St & 3 Ave,40.748901,-73.976049,488,W 39 St & 9 Ave,40.756458,-73.993722,17575,Subscriber,1971,1
2,13113,NaN,NaN,1379,2015-02-04 07:07:00+00,2015-02-04 07:30:00+00,332,Cherry St,40.712199,-73.979481,440,E 45 St & 3 Ave,40.752554,-73.972826,20313,Subscriber,1973,1
3,1,NaN,NaN,801,2015-02-01 00:00:00+00,2015-02-01 00:14:00+00,521,8 Ave & W 31 St,40.750450,-73.994811,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978,2
4,2,NaN,NaN,379,2015-02-01 00:00:00+00,2015-02-01 00:07:00+00,497,E 17 St & Broadway,40.737050,-73.990093,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993,1

### Task 1

### Sort data by start_station_id, tripduration
- Only checking trips with duration <= 3 hours
• Only show the top/last 10 records (aka head and tail in SQL)

In [4]:
Task1a = '''
SELECT * FROM citibike
Where tripduration<3*60*60
Order by start_station_id desc, tripduration desc
Limit 10
'''

In [5]:
pd.read_csv(StringIO.StringIO(queryCartoDB(Task1a)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,1506,NaN,NaN,7225,2015-02-01 11:46:00+00,2015-02-01 13:47:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,499,Broadway & W 60 St,40.769155,-73.981918,21202,Customer,NaN,0
1,8831,NaN,NaN,2139,2015-02-03 09:33:00+00,2015-02-03 10:09:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,510,W 51 St & 6 Ave,40.760660,-73.980420,15552,Subscriber,1958.0,1
2,23529,NaN,NaN,2131,2015-02-05 08:42:00+00,2015-02-05 09:17:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,359,E 47 St & Park Ave,40.755103,-73.974987,21473,Subscriber,1985.0,1
3,10173,NaN,NaN,1977,2015-02-03 16:04:00+00,2015-02-03 16:37:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,15309,Subscriber,1969.0,1
4,27203,NaN,NaN,1977,2015-02-05 16:11:00+00,2015-02-05 16:44:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20069,Subscriber,1969.0,1
5,6781,NaN,NaN,1976,2015-02-02 09:21:00+00,2015-02-02 09:53:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,494,W 26 St & 8 Ave,40.747348,-73.997236,19665,Subscriber,1959.0,1
6,44703,NaN,NaN,1920,2015-02-07 18:36:00+00,2015-02-07 19:08:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,410,Suffolk St & Stanton St,40.720664,-73.985180,15443,Subscriber,1964.0,2
7,11587,NaN,NaN,1908,2015-02-03 18:54:00+00,2015-02-03 19:26:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,279,Peck Slip & Front St,40.707873,-74.001670,19133,Subscriber,1996.0,1
8,1228,NaN,NaN,1900,2015-02-01 11:14:00+00,2015-02-01 11:45:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,525,W 34 St & 11 Ave,40.755942,-74.002116,17849,Customer,NaN,0
9,17590,NaN,NaN,1830,2015-02-04 16:33:00+00,2015-02-04 17:04:00+00,3002,South End Ave & Liberty St,40.711512,-74.015756,318,E 43 St & Vanderbilt Ave,40.753202,-73.977987,20246,Subscriber,1969.0,1

### List all unique start_station_id values

In [6]:
Task1b = '''
SELECT DISTINCT start_station_id FROM citibike
Limit 5
'''

In [7]:
pd.read_csv(StringIO.StringIO(queryCartoDB(Task1b)), sep=',')

   start_station_id  Unnamed: 1
0               195         NaN
1               251         NaN
2               285         NaN
3               120         NaN
4               483         NaN

### Count the number of trips (aka wc -l in SQL)

In [8]:
Task1c = '''
SELECT  count (cartodb_id)
FROM citibike
'''

In [9]:
pd.read_csv(StringIO.StringIO(queryCartoDB(Task1c)), sep=',')

   count  Unnamed: 1
0  46200         NaN

### Find the average/min/max trip duration

In [10]:
Task1d = '''
SELECT AVG(tripduration), Min(tripduration),max(tripduration) From citibike

'''

In [11]:
pd.read_csv(StringIO.StringIO(queryCartoDB(Task1d)), sep=',')

          avg  min    max
0  675.865823   60  43016

### Task 2 — Working with date/time

### Selecting trips started on Feb-02-2015 only

In [12]:
Task2a = '''
select * from citibike
where starttime>='2015-02-02 00:00'
and starttime<'2015-02-03 00:00'
'''

In [13]:
pd.read_csv(StringIO.StringIO(queryCartoDB(Task2a)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,6442,NaN,NaN,199,2015-02-02 00:02:00+00,2015-02-02 00:05:00+00,442,W 27 St & 7 Ave,40.746647,-73.993915,489,10 Ave & W 28 St,40.750664,-74.001768,20684,Subscriber,1992.0,1
1,6443,NaN,NaN,418,2015-02-02 00:03:00+00,2015-02-02 00:10:00+00,326,E 11 St & 1 Ave,40.729538,-73.984267,349,Rivington St & Ridge St,40.718502,-73.983299,16094,Subscriber,1964.0,2
2,6444,NaN,NaN,276,2015-02-02 00:04:00+00,2015-02-02 00:09:00+00,279,Peck Slip & Front St,40.707873,-74.001670,415,Pearl St & Hanover Square,40.704718,-74.009260,17362,Subscriber,1974.0,1
3,6445,NaN,NaN,420,2015-02-02 00:06:00+00,2015-02-02 00:13:00+00,496,E 16 St & 5 Ave,40.737262,-73.992390,237,E 11 St & 2 Ave,40.730473,-73.986724,15475,Subscriber,1992.0,2
4,6446,NaN,NaN,304,2015-02-02 00:07:00+00,2015-02-02 00:12:00+00,477,W 41 St & 8 Ave,40.756405,-73.990026,450,W 49 St & 8 Ave,40.762272,-73.987882,16272,Subscriber,1968.0,1
5,6447,NaN,NaN,622,2015-02-02 00:08:00+00,2015-02-02 00:18:00+00,467,Dean St & 4 Ave,40.683125,-73.978951,391,Clark St & Henry St,40.697601,-73.993446,16370,Subscriber,1979.0,1
6,6448,NaN,NaN,371,2015-02-02 00:09:00+00,2015-02-02 00:15:00+00,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,19437,Subscriber,1963.0,1
7,6449,NaN,NaN,477,2015-02-02 00:11:00+00,2015-02-02 00:19:00+00,330,Reade St & Broadway,40.714505,-74.005628,2008,Little West St & 1 Pl,40.705693,-74.016777,21211,Subscriber,1982.0,1
8,6450,NaN,NaN,743,2015-02-02 00:12:00+00,2015-02-02 00:25:00+00,521,8 Ave & W 31 St,40.750450,-73.994811,423,W 54 St & 9 Ave,40.765849,-73.986905,21417,Subscriber,1978.0,2
9,6451,NaN,NaN,599,2015-02-02 00:12:00+00,2015-02-02 00:22:00+00,504,1 Ave & E 15 St,40.732219,-73.981656,453,W 22 St & 8 Ave,40.744751,-73.999154,15722,Subscriber,1956.0,1
10,6452,NaN,NaN,345,2015-02-02 00:12:00+00,2015-02-02 00:18:00+00,285,Broadway & E 14 St,40.734546,-73.990741,236,St Marks Pl & 2 Ave,40.728419,-73.987140,18972,Subscriber,1962.0,1
11,6453,NaN,NaN,721,2015-02-02 00:13:00+00,2015-02-02 00:25:00+00,301,E 2 St & Avenue B,40.722174,-73.983688,476,E 31 St & 3 Ave,40.743943,-73.979661,19628,Subscriber,1980.0,1
12,6454,NaN,NaN,182,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,279,Peck Slip & Front St,40.707873,-74.001670,376,John St & William St,40.708621,-74.007222,15169,Subscriber,1978.0,1
13,6455,NaN,NaN,154,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,342,Columbia St & Rivington St,40.717400,-73.980166,411,E 6 St & Avenue D,40.722281,-73.976687,17533,Subscriber,1997.0,1
14,6456,NaN,NaN,435,2015-02-02 00:14:00+00,2015-02-02 00:21:00+00,470,W 20 St & 8 Ave,40.743453,-74.000040,491,E 24 St & Park Ave S,40.740964,-73.986022,19761,Subscriber,1983.0,1
15,6457,NaN,NaN,310,2015-02-02 00:15:00+00,2015-02-02 00:20:00+00,236,St Marks Pl & 2 Ave,40.728419,-73.987140,393,E 5 St & Avenue C,40.722992,-73.979955,17267,Subscriber,1993.0,1
16,6458,NaN,NaN,1274,2015-02-02 00:16:00+00,2015-02-02 00:37:00+00,470,W 20 St & 8 Ave,40.743453,-74.000040,470,W 20 St & 8 Ave,40.743453,-74.000040,18691,Subscriber,1964.0,1
17,6459,NaN,NaN,642,2015-02-02 00:18:00+00,2015-02-02 00:29:00+00,485,W 37 St & 5 Ave,40.750380,-73.983390,174,E 25 St & 1 Ave,40.738177,-73.977387,17106,Subscriber,1977.0,1
18,6460,NaN,NaN,256,2015-02-02 00:18:00+00,2015-02-02 00:22:00+00,345,W 13 St & 6 Ave,40.736494,-73.997044,483,E 12 St & 3 Ave,40.732233,-73.988900,20009,Subscriber,1973.0,1
19,6461,NaN,NaN,334,2015-02-02 00:19:00+00,2015-02-02 00:25:00+00,489,10 Ave & W 28 St,40.750664,-74.001768,442,W 27 St & 7 Ave,40.746647,-73.993915,18777,Subscriber,1979.0,1
20,6462,NaN,NaN,90,2015-02-02 00:19:00+00,2015-02-02 00:20:00+00,507,E 25 St & 2 Ave,40.739126,-73.979738,174,E 25 St & 1 Ave,40.738177,-73.977387,15357,Subscriber,1989.0,1
21,6463,NaN,NaN,203,2015-02-02 00:20:00+00,2015-02-02 00:23:00+00,380,W 4 St & 7 Ave S,40.734011,-74.002939,405,Washington St & Gansevoort St,40.739323,-74.008119,18487,Subscriber,1983.0,1
22,6464,NaN,NaN,649,2015-02-02 00:22:00+00,2015-02-02 00:32:00+00,334,W 20 St & 7 Ave,40.742388,-73.997262,439,E 4 St & 2 Ave,40.726281,-73.989780,20863,Subscriber,1981.0,1
23,6465,NaN,NaN,319,2015-02-02 00:23:00+00,2015-02-02 00:29:00+00,508,W 46 St & 11 Ave,40.763414,-73.996674,448,W 37 St & 10 Ave,40.756604,-73.997901,16539,Subscriber,1970.0,1
24,6466,NaN,NaN,154,2015-02-02 00:27:00+00,2015-02-02 00:30:00+00,428,E 3 St & 1 Ave,40.724677,-73.987834,301,E 2 St & Avenue B,40.722174,-73.983688,18737,Subscriber,1961.0,1
25,6467,NaN,NaN,550,2015-02-02 00:28:00+00,2015-02-02 00:37:00+00,331,Pike St & Monroe St,40.711731,-73.991930,195,Liberty St & Broadway,40.709056,-74.010434,17797,Subscriber,1980.0,2
26,6468,NaN,NaN,268,2015-02-02 00:29:00+00,2015-02-02 00:34:00+00,529,W 42 St & 8 Ave,40.757570,-73.990985,478,11 Ave & W 41 St,40.760301,-73.998842,20638,Subscriber,1990.0,1
27,6469,NaN,NaN,153,2015-02-02 00:29:00+00,2015-02-02 00:31:00+00,421,Clermont Ave & Park Ave,40.695734,-73.971297,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,17636,Subscriber,1989.0,1
28,6470,NaN,NaN,309,2015-02-02 00:31:00+00,2015-02-02 00:36:00+00,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,494,W 26 St & 8 Ave,40.747348,-73.997236,18472,Subscriber,1982.0,1
29,6471,NaN,NaN,138,2015-02-02 00:33:00+00,2015-02-02 00:35:00+00,383,Greenwich Ave & Charles St,40.735238,-74.000271,252,MacDougal St & Washington Sq,40.732264,-73.998522,17456,Subscriber,1968.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,7871,NaN,NaN,722,2015-02-02 23:08:00+00,2015-02-02 23:20:00+00,312,Allen St & E Houston St,40.722055,-73.989111,380,W 4 St & 7 Ave S,40.734011,-74.002939,20572,Subscriber,1985.0,1
1430,7872,NaN,NaN,274,2015-02-02 23:08:00+00,2015-02-02 23:12:00+00,486,Broadway & W 29 St,40.746201,-73.988557,491,E 24 St & Park Ave S,40.740964,-73.986022,20338,Subscriber,1981.0,1
1431,7873,NaN,NaN,951,2015-02-02 23:11:00+00,2015-02-02 23:27:00+00,352,W 56 St & 6 Ave,40.763406,-73.977225,515,W 43 St & 10 Ave,40.760094,-73.994618,15826,Subscriber,1978.0,1
1432,7874,NaN,NaN,276,2015-02-02 23:16:00+00,2015-02-02 23:20:00+00,489,10 Ave & W 28 St,40.750664,-74.001768,521,8 Ave & W 31 St,40.750450,-73.994811,18325,Subscriber,1990.0,1
1433,7875,NaN,NaN,426,2015-02-02 23:17:00+00,2015-02-02 23:24:00+00,494,W 26 St & 8 Ave,40.747348,-73.997236,434,9 Ave & W 18 St,40.743174,-74.003664,16654,Subscriber,1977.0,1
1434,7876,NaN,NaN,578,2015-02-02 23:19:00+00,2015-02-02 23:28:00+00,402,Broadway & E 22 St,40.740343,-73.989551,229,Great Jones St,40.727434,-73.993790,20902,Subscriber,1966.0,1
1435,7877,NaN,NaN,2621,2015-02-02 23:22:00+00,2015-02-03 00:06:00+00,164,E 47 St & 2 Ave,40.753231,-73.970325,2017,E 43 St & 2 Ave,40.750224,-73.971214,20796,Subscriber,1954.0,1
1436,7878,NaN,NaN,621,2015-02-02 23:22:00+00,2015-02-02 23:32:00+00,498,Broadway & W 32 St,40.748549,-73.988084,449,W 52 St & 9 Ave,40.764618,-73.987895,20160,Subscriber,1989.0,1
1437,7879,NaN,NaN,323,2015-02-02 23:23:00+00,2015-02-02 23:29:00+00,521,8 Ave & W 31 St,40.750450,-73.994811,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1974.0,1
1438,7880,NaN,NaN,393,2015-02-02 23:24:00+00,2015-02-02 23:31:00+00,434,9 Ave & W 18 St,40.743174,-74.003664,482,W 15 St & 7 Ave,40.739355,-73.999318,17263,Subscriber,1963.0,1
1439,7881,NaN,NaN,597,2015-02-02 23:25:00+00,2015-02-02 23:35:00+00,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,497,E 17 St & Broadway,40.737050,-73.990093,19858,Subscriber,1955.0,1
1440,7882,NaN,NaN,244,2015-02-02 23:25:00+00,2015-02-02 23:30:00+00,494,W 26 St & 8 Ave,40.747348,-73.997236,462,W 22 St & 10 Ave,40.746920,-74.004519,20319,Subscriber,1979.0,1
1441,7883,NaN,NaN,1023,2015-02-02 23:26:00+00,2015-02-02 23:43:00+00,306,Cliff St & Fulton St,40.708235,-74.005301,127,Barrow St & Hudson St,40.731724,-74.006744,21600,Subscriber,1977.0,1
1442,7884,NaN,NaN,419,2015-02-02 23:31:00+00,2015-02-02 23:38:00+00,349,Rivington St & Ridge St,40.718502,-73.983299,473,Rivington St & Chrystie St,40.721101,-73.991925,18791,Subscriber,1986.0,1
1443,7885,NaN,NaN,1429,2015-02-02 23:32:00+00,2015-02-02 23:55:00+00,450,W 49 St & 8 Ave,40.762272,-73.987882,358,Christopher St & Greenwich St,40.732916,-74.007114,17730,Subscriber,1966.0,1
1444,7886,NaN,NaN,676,2015-02-02 23:32:00+00,2015-02-02 23:44:00+00,519,Pershing Square North,40.751873,-73.977706,477,W 41 St & 8 Ave,40.756405,-73.990026,18147,Subscriber,1980.0,1
1445,7887,NaN,NaN,879,2015-02-02 23:33:00+00,2015-02-02 23:48:00+00,546,E 30 St & Park Ave S,40.744449,-73.983035,489,10 Ave & W 28 St,40.750664,-74.001768,20249,Subscriber,1959.0,1
1446,7888,NaN,NaN,593,2015-02-02 23:35:00+00,2015-02-02 23:45:00+00,336,Sullivan St & Washington Sq,40.730477,-73.999061,432,E 7 St & Avenue A,40.726218,-73.983799,18078,Subscriber,1988.0,1
1447,7889,NaN,NaN,839,2015-02-02 23:36:00+00,2015-02-02 23:50:00+00,529,W 42 St & 8 Ave,40.757570,-73.990985,164,E 47 St & 2 Ave,40.753231,-73.970325,16808,Subscriber,1983.0,1
1448,7890,NaN,NaN,560,2015-02-02 23:37:00+00,2015-02-02 23:46:00+00,402,Broadway & E 22 St,40.740343,-73.989551,368,Carmine St & 6 Ave,40.730386,-74.002150,21355,Subscriber,1986.0,1
1449,7891,NaN,NaN,165,2015-02-02 23:37:00+00,2015-02-02 23:40:00+00,504,1 Ave & E 15 St,40.732219,-73.981656,511,E 14 St & Avenue B,40.729387,-73.977724,15359,Subscriber,1994.0,1
1450,7892,NaN,NaN,813,2015-02-02 23:42:00+00,2015-02-02 23:56:00+00,505,6 Ave & W 33 St,40.749013,-73.988484,489,10 Ave & W 28 St,40.750664,-74.001768,18250,Subscriber,1982.0,2
1451,7893,NaN,NaN,764,2015-02-02 23:42:00+00,2015-02-02 23:55:00+00,509,9 Ave & W 22 St,40.745497,-74.001971,507,E 25 St & 2 Ave,40.739126,-73.979738,16969,Subscriber,1987.0,1
1452,7894,NaN,NaN,2111,2015-02-02 23:43:00+00,2015-02-03 00:18:00+00,496,E 16 St & 5 Ave,40.737262,-73.992390,397,Fulton St & Clermont Ave,40.684157,-73.969223,18825,Subscriber,1979.0,1
1453,7895,NaN,NaN,518,2015-02-02 23:43:00+00,2015-02-02 23:52:00+00,280,E 10 St & 5 Ave,40.733320,-73.995101,439,E 4 St & 2 Ave,40.726281,-73.989780,19000,Subscriber,1983.0,1
1454,7896,NaN,NaN,371,2015-02-02 23:45:00+00,2015-02-02 23:52:00+00,484,W 44 St & 5 Ave,40.755003,-73.980144,440,E 45 St & 3 Ave,40.752554,-73.972826,20723,Subscriber,1977.0,1
1455,7897,NaN,NaN,188,2015-02-02 23:47:00+00,2015-02-02 23:50:00+00,224,Spruce St & Nassau St,40.711464,-74.005524,417,Barclay St & Church St,40.712912,-74.010202,16528,Subscriber,1988.0,1
1456,7898,NaN,NaN,689,2015-02-02 23:50:00+00,2015-02-03 00:02:00+00,345,W 13 St & 6 Ave,40.736494,-73.997044,394,E 9 St & Avenue C,40.725213,-73.977688,16541,Subscriber,1988.0,1
1457,7899,NaN,NaN,634,2015-02-02 23:55:00+00,2015-02-03 00:05:00+00,453,W 22 St & 8 Ave,40.744751,-73.999154,537,Lexington Ave & E 24 St,40.740259,-73.984092,14878,Subscriber,1961.0,1
1458,7900,NaN,NaN,733,2015-02-02 23:58:00+00,2015-02-03 00:10:00+00,285,Broadway & E 14 St,40.734546,-73.990741,302,Avenue D & E 3 St,40.720828,-73.977932,16326,Subscriber,1976.0,2

### Selecting trips started on the weekends

In [14]:
Task2b = '''
select * from citibike
where extract (dow from starttime) in (0,6)
'''

In [15]:
pd.read_csv(StringIO.StringIO(queryCartoDB(Task2b)), sep=',')

,cartodb_id,the_geom,the_geom_webmercator,tripduration,starttime,stoptime,start_station_id,start_station_name,start_station_latitude,start_station_longitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,5960,NaN,NaN,351,2015-02-01 20:36:00+00,2015-02-01 20:42:00+00,435,W 21 St & 6 Ave,40.741740,-73.994156,462,W 22 St & 10 Ave,40.746920,-74.004519,19217,Subscriber,1965.0,1
1,1,NaN,NaN,801,2015-02-01 00:00:00+00,2015-02-01 00:14:00+00,521,8 Ave & W 31 St,40.750450,-73.994811,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978.0,2
2,2,NaN,NaN,379,2015-02-01 00:00:00+00,2015-02-01 00:07:00+00,497,E 17 St & Broadway,40.737050,-73.990093,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993.0,1
3,3,NaN,NaN,2474,2015-02-01 00:01:00+00,2015-02-01 00:42:00+00,281,Grand Army Plaza & Central Park S,40.764397,-73.973715,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969.0,2
4,4,NaN,NaN,818,2015-02-01 00:01:00+00,2015-02-01 00:15:00+00,2004,6 Ave & Broome St,40.724399,-74.004704,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985.0,2
5,5,NaN,NaN,544,2015-02-01 00:01:00+00,2015-02-01 00:10:00+00,323,Lawrence St & Willoughby St,40.692362,-73.986317,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,19868,Subscriber,1957.0,1
6,6,NaN,NaN,717,2015-02-01 00:02:00+00,2015-02-01 00:14:00+00,373,Willoughby Ave & Walworth St,40.693317,-73.953820,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,15854,Subscriber,1979.0,1
7,7,NaN,NaN,1306,2015-02-01 00:04:00+00,2015-02-01 00:26:00+00,352,W 56 St & 6 Ave,40.763406,-73.977225,504,1 Ave & E 15 St,40.732219,-73.981656,15173,Subscriber,1983.0,1
8,8,NaN,NaN,913,2015-02-01 00:04:00+00,2015-02-01 00:19:00+00,439,E 4 St & 2 Ave,40.726281,-73.989780,116,W 17 St & 8 Ave,40.741776,-74.001497,17862,Subscriber,1955.0,1
9,9,NaN,NaN,759,2015-02-01 00:04:00+00,2015-02-01 00:17:00+00,335,Washington Pl & Broadway,40.729039,-73.994046,2012,E 27 St & 1 Ave,40.739445,-73.976806,21183,Subscriber,1985.0,2
10,10,NaN,NaN,585,2015-02-01 00:05:00+00,2015-02-01 00:15:00+00,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,444,Broadway & W 24 St,40.742354,-73.989151,14843,Subscriber,1982.0,1
11,11,NaN,NaN,581,2015-02-01 00:05:00+00,2015-02-01 00:15:00+00,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,444,Broadway & W 24 St,40.742354,-73.989151,16936,Subscriber,1988.0,2
12,12,NaN,NaN,204,2015-02-01 00:05:00+00,2015-02-01 00:08:00+00,498,Broadway & W 32 St,40.748549,-73.988084,472,E 32 St & Park Ave,40.745712,-73.981948,21507,Subscriber,1991.0,2
13,13,NaN,NaN,1169,2015-02-01 00:07:00+00,2015-02-01 00:27:00+00,368,Carmine St & 6 Ave,40.730386,-74.002150,307,Canal St & Rutgers St,40.714275,-73.989900,17456,Subscriber,1982.0,2
14,14,NaN,NaN,419,2015-02-01 00:07:00+00,2015-02-01 00:14:00+00,326,E 11 St & 1 Ave,40.729538,-73.984267,2012,E 27 St & 1 Ave,40.739445,-73.976806,14679,Subscriber,1990.0,2
15,15,NaN,NaN,527,2015-02-01 00:09:00+00,2015-02-01 00:17:00+00,285,Broadway & E 14 St,40.734546,-73.990741,212,W 16 St & The High Line,40.743349,-74.006818,18978,Subscriber,1977.0,1
16,16,NaN,NaN,1013,2015-02-01 00:10:00+00,2015-02-01 00:27:00+00,368,Carmine St & 6 Ave,40.730386,-74.002150,488,W 39 St & 9 Ave,40.756458,-73.993722,16496,Subscriber,1968.0,1
17,17,NaN,NaN,587,2015-02-01 00:13:00+00,2015-02-01 00:23:00+00,394,E 9 St & Avenue C,40.725213,-73.977688,331,Pike St & Monroe St,40.711731,-73.991930,17107,Subscriber,1990.0,1
18,18,NaN,NaN,525,2015-02-01 00:13:00+00,2015-02-01 00:22:00+00,326,E 11 St & 1 Ave,40.729538,-73.984267,507,E 25 St & 2 Ave,40.739126,-73.979738,16984,Subscriber,1987.0,1
19,19,NaN,NaN,670,2015-02-01 00:14:00+00,2015-02-01 00:26:00+00,493,W 45 St & 6 Ave,40.756800,-73.982912,305,E 58 St & 3 Ave,40.760958,-73.967245,15997,Subscriber,1980.0,1
20,20,NaN,NaN,711,2015-02-01 00:15:00+00,2015-02-01 00:27:00+00,445,E 10 St & Avenue A,40.727408,-73.981420,223,W 13 St & 7 Ave,40.737815,-73.999947,21516,Subscriber,1960.0,1
21,21,NaN,NaN,1559,2015-02-01 00:16:00+00,2015-02-01 00:42:00+00,428,E 3 St & 1 Ave,40.724677,-73.987834,457,Broadway & W 58 St,40.766953,-73.981693,15815,Subscriber,1986.0,1
22,22,NaN,NaN,683,2015-02-01 00:16:00+00,2015-02-01 00:27:00+00,228,E 48 St & 3 Ave,40.754601,-73.971879,477,W 41 St & 8 Ave,40.756405,-73.990026,18727,Subscriber,1987.0,1
23,23,NaN,NaN,522,2015-02-01 00:16:00+00,2015-02-01 00:24:00+00,513,W 56 St & 10 Ave,40.768254,-73.988639,488,W 39 St & 9 Ave,40.756458,-73.993722,14982,Subscriber,1969.0,1
24,24,NaN,NaN,389,2015-02-01 00:16:00+00,2015-02-01 00:23:00+00,507,E 25 St & 2 Ave,40.739126,-73.979738,518,E 39 St & 2 Ave,40.747804,-73.973442,16391,Subscriber,1957.0,1
25,25,NaN,NaN,276,2015-02-01 00:16:00+00,2015-02-01 00:21:00+00,439,E 4 St & 2 Ave,40.726281,-73.989780,473,Rivington St & Chrystie St,40.721101,-73.991925,15947,Subscriber,1981.0,1
26,26,NaN,NaN,907,2015-02-01 00:17:00+00,2015-02-01 00:32:00+00,128,MacDougal St & Prince St,40.727103,-74.002971,531,Forsyth St & Broome St,40.718939,-73.992663,16917,Subscriber,1993.0,1
27,27,NaN,NaN,946,2015-02-01 00:18:00+00,2015-02-01 00:33:00+00,490,8 Ave & W 33 St,40.751551,-73.993934,528,2 Ave & E 31 St,40.742909,-73.977061,15924,Subscriber,1975.0,1
28,28,NaN,NaN,144,2015-02-01 00:18:00+00,2015-02-01 00:21:00+00,350,Clinton St & Grand St,40.715595,-73.987030,502,Henry St & Grand St,40.714215,-73.981346,21321,Subscriber,1973.0,1
29,29,NaN,NaN,257,2015-02-01 00:19:00+00,2015-02-01 00:23:00+00,250,Lafayette St & Jersey St,40.724561,-73.995653,401,Allen St & Rivington St,40.720196,-73.989978,16861,Subscriber,1973.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13201,46171,NaN,NaN,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,Washington Pl & Broadway,40.729039,-73.994046,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1
13202,46172,NaN,NaN,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,Allen St & Hester St,40.716059,-73.991908,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1
13203,46173,NaN,NaN,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,Warren St & Church St,40.714740,-74.009106,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1
13204,46174,NaN,NaN,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,E 12 St & 3 Ave,40.732233,-73.988900,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2
13205,46175,NaN,NaN,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,Dean St & 4 Ave,40.683125,-73.978951,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1
13206,46176,NaN,NaN,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,Allen St & Hester St,40.716059,-73.991908,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1
13207,46177,NaN,NaN,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,Broadway & E 22 St,40.740343,-73.989551,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1
13208,46178,NaN,NaN,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,Washington Pl & 6 Ave,40.732241,-74.000264,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2
13209,46179,NaN,NaN,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,E 31 St & 3 Ave,40.743943,-73.979661,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1
13210,46180,NaN,NaN,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,Broadway & W 60 St,40.769155,-73.981918,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1
13211,46181,NaN,NaN,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,Carmine St & 6 Ave,40.730386,-74.002150,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1
13212,46182,NaN,NaN,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,W 52 St & 5 Ave,40.759923,-73.976485,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1
13213,46183,NaN,NaN,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,Dean St & 4 Ave,40.683125,-73.978951,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1
13214,46184,NaN,NaN,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,9 Ave & W 45 St,40.760193,-73.991255,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1
13215,46185,NaN,NaN,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,Broadway & W 58 St,40.766953,-73.981693,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1
13216,46186,NaN,NaN,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,Broadway & W 58 St,40.766953,-73.981693,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1
13217,46187,NaN,NaN,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,Watts St & Greenwich St,40.724055,-74.009660,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1
13218,46188,NaN,NaN,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,W 51 St & 6 Ave,40.760660,-73.980420,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1
13219,46189,NaN,NaN,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,University Pl & E 14 St,40.734927,-73.992005,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1
13220,46190,NaN,NaN,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,W 11 St & 6 Ave,40.735324,-73.998004,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1
13221,46191,NaN,NaN,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,W 17 St & 8 Ave,40.741776,-74.001497,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2
13222,46192,NaN,NaN,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,W 47 St & 10 Ave,40.762699,-73.993012,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1
13223,46193,NaN,NaN,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,Warren St & Church St,40.714740,-74.009106,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1
13224,46194,NaN,NaN,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,E 20 St & 2 Ave,40.735877,-73.982050,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1
13225,46195,NaN,NaN,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,1 Ave & E 44 St,40.750020,-73.969053,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2
13226,46196,NaN,NaN,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,W 20 St & 8 Ave,40.743453,-74.000040,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1
13227,46197,NaN,NaN,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,5 Ave & E 29 St,40.745168,-73.986831,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2
13228,46198,NaN,NaN,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,5 Ave & E 29 St,40.745168,-73.986831,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1
13229,46199,NaN,NaN,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,Carmine St & 6 Ave,40.730386,-74.002150,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2
13230,46200,NaN,NaN,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,E 4 St & 2 Ave,40.726281,-73.989780,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2

#### What are average trip duration during weekends?

In [16]:
Task2c = '''
select avg(tripduration)
from citibike
where extract (dow from starttime) in (0,6)
'''

In [17]:
pd.read_csv(StringIO.StringIO(queryCartoDB(Task2c)), sep=',')

          avg  Unnamed: 1
0  662.942181         NaN

#### Can we do the same for weekday?

In [18]:
Task2d = '''
select avg(tripduration)
from citibike
where extract (dow from starttime) in (1,2,3,4,5)
'''

In [19]:
pd.read_csv(StringIO.StringIO(queryCartoDB(Task2d)), sep=',')

          avg  Unnamed: 1
0  681.052292         NaN

### Task 3 — Working with Space

#### Showing the list of start station locations

In [20]:
Task3a = '''
select start_station_id, (start_station_latitude, start_station_longitude)
from citibike
Limit 5
'''

In [21]:
pd.read_csv(StringIO.StringIO(queryCartoDB(Task3a)), sep=',')

   start_station_id                         row
0               435  (40.74173969,-73.99415556)
1               167   (40.7489006,-73.97604882)
2               332  (40.71219906,-73.97948148)
3               521  (40.75044999,-73.99481051)
4               497  (40.73704984,-73.99009296)

#### Using GROUP BY
#### Showing the number of trips started per station

In [22]:
Task3b = '''
select start_station_id,count (cartodb_id)
from citibike
group by start_station_id
limit 5
'''

In [23]:
pd.read_csv(StringIO.StringIO(queryCartoDB(Task3b)), sep=',')

   start_station_id  count
0               195    137
1               251    194
2               285    373
3               120     17
4               483    229

#### only for stations within 500m of Time Square!

In [24]:
Task3c = '''
select start_station_id, count(tripduration) as numtrips
    
from citibike

where st_dwithin(cdb_latlng(start_station_latitude,start_station_longitude)::geography,
                  cdb_latlng(40.757,-73.9857)::geography,500)
group by start_station_id

'''

In [25]:
pd.read_csv(StringIO.StringIO(queryCartoDB(Task3c)), sep=',')

   start_station_id  numtrips
0               173       213
1               477       507
2               524       112
3               465       251
4               533       196
5               493       141
6              2021       141
7               529       221

### Task 4 — Putting it all together
• Find the station that had the longest average trip duration during
weekends and within 500m of TimeSquare!

In [26]:
Task4a = '''

select start_station_id, avg(tripduration) as max_avg
    
from citibike
where extract (dow from starttime) in (0,6) and st_dwithin(cdb_latlng(start_station_latitude,start_station_longitude)::geography,
                  cdb_latlng(40.757,-73.9857)::geography,500)
group by start_station_id
Order by max_avg desc
Limit 1

'''

In [27]:
pd.read_csv(StringIO.StringIO(queryCartoDB(Task4a)), sep=',')

   start_station_id      max_avg
0               173  1010.104167

Extra: create lines for trips started from stations within 500m of Times
Squares and lasted less than 2 hours. The number of trips per each
pair of stations are output as attributes of these lines.

In [28]:
Task4b = '''
select st_makeline(cdb_transformtowebmercator(cdb_latlng(start_station_latitude,start_station_longitude)),cdb_transformtowebmercator(cdb_latlng(end_station_latitude,end_station_longitude))) as the_geom_webmercator,
    min(cartodb_id) as cartodb_id,
    count(tripduration) as numtrips

from citibike

where st_dwithin(cdb_latlng(start_station_latitude,start_station_longitude)::geography,
                  cdb_latlng(40.757,-73.9857)::geography,
                  500)
                 and tripduration<7200
group by start_station_latitude,start_station_longitude,end_station_latitude,end_station_longitude

'''

In [29]:
pd.read_csv(StringIO.StringIO(queryCartoDB(Task4b)), sep=',')

                                  the_geom_webmercator  cartodb_id  numtrips
0    0102000020110F000002000000F22A632FBE6A5FC1363A...       12043         1
1    0102000020110F0000020000009BB87D02B76A5FC146C1...       34407         1
2    0102000020110F00000200000004AF971C1D6B5FC17A48...       30188         1
3    0102000020110F0000020000003F9300B2976B5FC1B8B8...        7566         5
4    0102000020110F00000200000020D6742CE16A5FC112F4...        8850         4
5    0102000020110F0000020000003F9300B2976B5FC1B8B8...       31004         1
6    0102000020110F00000200000020D6742CE16A5FC112F4...        4636         2
7    0102000020110F000002000000F55695027D6B5FC186E5...        6788         6
8    0102000020110F000002000000F22A632FBE6A5FC1363A...       20181         2
9    0102000020110F0000020000001607D538556B5FC119A6...       26631         1
10   0102000020110F000002000000F22A632FBE6A5FC1363A...       36993         1
11   0102000020110F000002000000F55695027D6B5FC186E5...       11242         1
12   0102000020110F0000020000003F9300B2976B5FC1B8B8...       22083         3
13   0102000020110F000002000000979CD0CE2E6B5FC12CCC...       34601         1
14   0102000020110F0000020000003F9300B2976B5FC1B8B8...       13700         2
15   0102000020110F000002000000979CD0CE2E6B5FC12CCC...       16076         2
16   0102000020110F000002000000F55695027D6B5FC186E5...        8798         1
17   0102000020110F0000020000003F9300B2976B5FC1B8B8...       14842         1
18   0102000020110F00000200000004AF971C1D6B5FC17A48...       38207         2
19   0102000020110F000002000000979CD0CE2E6B5FC12CCC...       13243         1
20   0102000020110F0000020000009BB87D02B76A5FC146C1...       14181         2
21   0102000020110F0000020000001607D538556B5FC119A6...       19813         1
22   0102000020110F000002000000F55695027D6B5FC186E5...       36988         1
23   0102000020110F0000020000001607D538556B5FC119A6...       43818         1
24   0102000020110F000002000000F55695027D6B5FC186E5...         876         3
25   0102000020110F000002000000F55695027D6B5FC186E5...       15276         2
26   0102000020110F0000020000009BB87D02B76A5FC146C1...       18472         2
27   0102000020110F000002000000F22A632FBE6A5FC1363A...        1115         2
28   0102000020110F0000020000009BB87D02B76A5FC146C1...       14749         3
29   0102000020110F000002000000F55695027D6B5FC186E5...       26955         2
..                                                 ...         ...       ...
631  0102000020110F00000200000004AF971C1D6B5FC17A48...        2058         3
632  0102000020110F0000020000001607D538556B5FC119A6...        6117         1
633  0102000020110F000002000000F55695027D6B5FC186E5...       12939         6
634  0102000020110F000002000000F22A632FBE6A5FC1363A...       12681         7
635  0102000020110F000002000000979CD0CE2E6B5FC12CCC...       12619         3
636  0102000020110F000002000000F55695027D6B5FC186E5...       13831         2
637  0102000020110F00000200000020D6742CE16A5FC112F4...       38050         1
638  0102000020110F00000200000020D6742CE16A5FC112F4...          42         4
639  0102000020110F0000020000009BB87D02B76A5FC146C1...       26069         1
640  0102000020110F00000200000020D6742CE16A5FC112F4...       28599         2
641  0102000020110F000002000000F55695027D6B5FC186E5...        7430         4
642  0102000020110F0000020000001607D538556B5FC119A6...       26222         1
643  0102000020110F000002000000F55695027D6B5FC186E5...       19956         1
644  0102000020110F000002000000979CD0CE2E6B5FC12CCC...       23222         1
645  0102000020110F000002000000F55695027D6B5FC186E5...       14055         6
646  0102000020110F00000200000004AF971C1D6B5FC17A48...        8489         4
647  0102000020110F00000200000004AF971C1D6B5FC17A48...          54         3
648  0102000020110F0000020000003F9300B2976B5FC1B8B8...       16712         2
649  0102000020110F000002000000F22A632FBE6A5FC1363A...       35763         1
650  0102000020110F0000020000001607D538556B5FC119A6...       21689         1
651  0102000020110F00000200000020D6742CE16A5FC112F4...        2776         2
652  0102000020110F0000020000003F9300B2976B5FC1B8B8...       13447         2
653  0102000020110F00000200000004AF971C1D6B5FC17A48...       30862         1
654  0102000020110F00000200000020D6742CE16A5FC112F4...       42599         1
655  0102000020110F00000200000020D6742CE16A5FC112F4...       12412         3
656  0102000020110F000002000000979CD0CE2E6B5FC12CCC...       15842         2
657  0102000020110F000002000000F55695027D6B5FC186E5...       13031        31
658  0102000020110F0000020000001607D538556B5FC119A6...       22819         1
659  0102000020110F0000020000009BB87D02B76A5FC146C1...        7498         4
660  0102000020110F0000020000009BB87D02B76A5FC146C1...       11014         1

[661 rows x 3 columns]

In [30]:
#This last point needs to be visualized in Carto